.container {
  width: 100%;
  padding-top: 14px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 1px;
    top: 9px;
    background-color: var(--col-grey-100);
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  width: 90px;
}

.message {
  margin-top: 5px;
  font-size: var(--font-size-200);
  color: var(--col-error);
}
