.link {
  --active-color: var(--col-accent-400);
  text-transform: uppercase;
  font-size: var(--font-size-400);
  font-weight: 500;
  color: var(--col-main-700);

  &--primary {
    --active-color: var(--col-white);
    background-color: var(--col-accent-400);
    color: var(--col-white);
    display: inline-block;
    border: none;
    padding: 0.2em 0.6em;
    border-radius: 2px;
  }

  &:hover,
  &--active {
    color: var(--active-color);
  }
}
