.link {
  --active-color: var(--col-accent-400);
  text-transform: uppercase;
  font-size: var(--font-size-400);
  font-weight: 500;
  color: var(--col-main-700);

  &--primary {
    --active-color: var(--col-white);
    background-color: var(--col-accent-400);
    color: var(--col-white);
    display: inline-block;
    border: none;
    padding: 0.2em 0.6em;
    border-radius: 2px;
  }

  &--icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &:hover {
      background-color: var(--col-grey-200);
    }
  }

  &:hover,
  &--active {
    color: var(--active-color);
  }
}
