.container {
  @include card-layout(0px, 0px);
  width: 100%;
  gap: 5px;
  align-items: stretch;
  justify-content: stretch;
}

.messages {
  @include card-layout(12px, 12px);
  background-color: var(--col-main-100);
  box-shadow: var(--bs-card);
  flex: 5 400px;
  max-height: 600px;
  overflow-y: scroll;
  gap: 5px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.panel {
  @include card-layout(12px, 12px);
  background-color: var(--col-white);
  box-shadow: var(--bs-card);
  flex: 1;
}
