.wrapper {
  max-width: 1200px;
  width: 90%;
  padding-bottom: 20px;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

.chat-notes-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.chat {
  max-height: 370px;
  width: 100%;
}

.notes {
  flex: 1;
  flex-basis: 100%;
  padding: 20px 0;
}
