.container {
  @include card-layout();
  border-radius: 4px;
  margin-top: 25px;
  width: 100%;
  background-color: var(--col-white);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5px;
  align-items: center;
  font-size: var(--font-size-300);
  grid-template-areas:
    "title title title title"
    "user user user date"
    "for for for for"
    "subjects subjects subjects subjects"
    "levels levels levels buttons";

  &--recommended {
    border: 1px solid var(--col-green-400);

    &--often {
      border-width: 2px;
    }
  }
}

.user-avatar {
  border: 1px solid var(--col-grey-100);
}

.user {
  grid-area: user;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.user-nickname {
  grid-area: nickname;
}

.leaflet-title {
  grid-area: title;
  @include max-lines-ellipsis(2);
  font-size: var(--font-size-600);
  color: var(--col-text-navy);
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.leaflet-date {
  grid-area: date;
  text-align: right;
  margin-bottom: 10px;
}

.leaflet-buttons {
  grid-area: buttons;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
}

.leaflet-looking-for {
  @include max-lines-ellipsis(1);
  grid-area: for;
}

.leaflet-subjects {
  @include max-lines-ellipsis(1);
  grid-area: subjects;
}

.leaflet-levels {
  @include max-lines-ellipsis(2);
  grid-area: levels;
}
