.button {
  display: inline-block;
  border: none;
  padding: 0.4em 1em;
  border-radius: 4px;
  position: relative;

  &:disabled {
    cursor: default;
    filter: opacity(80%) grayscale(15%);
  }

  &:hover:not(:disabled) {
    opacity: 0.85;
    transform: scale(1.02);
  }

  &--link-like {
    color: var(--col-main-400);
    font-weight: 500;
    padding: 0;

    &:hover:not(:disabled) {
      text-decoration: underline;
      color: var(--col-main-300);
    }
  }

  &--primary {
    background-color: var(--col-accent-400);
    color: var(--col-white);
    font-weight: 500;
  }

  &--secondary {
    text-transform: uppercase;
    color: var(--col-black);
    background-color: var(--col-white);
    font-weight: 500;
    box-shadow: inset 0 0 0 2px var(--col-accent-400);
  }
}

.spinner {
  height: 24px;
}

.confirm-button {
  position: absolute;
  right: -16px;
  border-radius: 0 4px 4px 0;
  width: 20px;
  top: 0;
  height: 100%;
  border: none;
  background-color: inherit;
  font-size: inherit;
  color: inherit;

  &:hover {
    filter: grayscale(0.5);
  }
}
