.button {
  display: inline-block;
  border: none;
  padding: 0.4em 1em;
  border-radius: 4px;

  &:hover {
    opacity: 0.85;
  }

  &--link-like {
    color: var(--col-main-400);
    font-weight: 500;
    padding: 0;

    &:hover {
      text-decoration: underline;
      color: var(--col-main-300);
    }
  }

  &--primary {
    background-color: var(--col-accent-400);
    color: var(--col-white);
    font-weight: 500;
  }

  &--secondary {
    text-transform: uppercase;
    background-color: transparent;
    color: var(--col-black);
    font-weight: 500;
  }
}
