.wrapper {
  width: 90%;
  max-width: 450px;

  @include sm {
    width: 450px;
    max-width: unset;
  }

  @include md {
    width: 500px;
  }

  @include lg {
    width: 700px;
  }
}

.container {
  @include card-layout;
  box-shadow: var(--bs-card);
  background-color: var(--col-white);
  width: 100%;
}

.form {
  display: grid;
  width: 100%;
}

.heading {
  font-size: var(--font-size-700);
  margin-bottom: 15px;
  text-align: center;

  @include sm {
    font-size: var(--font-size-900);
  }
}

.page-info {
  margin: 15px auto 0;
  font-size: var(--font-size-200);
  color: var(--col-text-navy);
  display: grid;
  grid-template-areas:
    ". msg ."
    "prev page next";
  grid-template-columns: 1fr 2fr 1fr;
  row-gap: 10px;
  width: 100%;
  max-width: 275px;

  &__page {
    grid-area: page;
    text-align: center;
    font-weight: 500;
  }

  &__next {
    grid-area: next;
    display: flex;
    justify-content: center;
  }

  &__prev {
    grid-area: prev;
    display: flex;
    justify-content: center;
  }

  &__message {
    grid-area: msg;
    text-align: center;
  }
}
