.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.error-message {
  font-size: var(--font-size-200);
  color: var(--col-error);
  margin-top: 10px;
  text-align: center;
}
