.container {
  @include card-layout();
  position: relative;
  cursor: pointer;
  flex-direction: row;
  background-color: var(--col-white);
  box-shadow: var(--bs-card);
  gap: 15px;
}

.avatar {
  border: 1px solid var(--col-grey-100);
  border-radius: 50%;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.last-message,
.nickname {
  @include max-lines-ellipsis(2);
  display: inline-block;
  flex: 1;
  text-align: left;
}

.nickname {
  font-size: var(--font-size-300);
}

.last-message {
  font-size: var(--font-size-200);
}
