.container {
  @include card-layout();
  @include hover-card-shadow();
  position: relative;
  cursor: pointer;
  flex-direction: row;
  background-color: var(--col-white);
  gap: 15px;
}

.avatar {
  border: 1px solid var(--col-grey-100);
  border-radius: 50%;
  align-self: flex-start;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  flex: 1;
}

.last-message,
.nickname {
  display: inline-block;
  flex: 1;
  text-align: left;
}

.nickname {
  font-size: var(--font-size-300);
}

.last-message {
  @include max-lines-ellipsis(2);
  font-size: var(--font-size-100);
  color: var(--col-text-navy);
  min-height: 40px;
}

.last-message-date {
  align-self: flex-end;
  font-size: var(--font-size-min);
  color: var(--col-grey-700);
}
