:root {
  // fonts
  --font-family-base: "Montserrat", sans-serif;
  --font-family-heading: "Barlow Condensed", sans-serif;
  --font-size-base: 1.6rem;

  //colors
  --col-accent: hsl(347, 89%, 48%);
  --col-main-300: hsl(231, 44%, 60%);
  --col-main-400: hsl(231, 44%, 50%);
  --col-main-500: hsl(231, 44%, 40%);
  --col-main-600: hsl(231, 44%, 30%);
  --col-main-700: hsl(231, 44%, 20%);
  --col-grey-100: hsl(231, 10%, 93%);
  --col-grey-200: hsl(231, 10%, 79%);
  --col-grey-300: hsl(231, 10%, 55%);
  --col-grey-400: hsl(231, 10%, 48%);
  --col-grey-500: hsl(231, 10%, 41%);
  --col-grey-600: hsl(231, 10%, 34%);
  --col-grey-700: hsl(231, 10%, 27%);
  --col-white: hsl(0, 0%, 100%);
  --col-black: hsl(231, 5%, 3%);
}
