.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100%;

  button {
    width: 70px;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: var(--bs-select);
  }
}
