.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  height: 100vh;
  overflow: hidden;
  padding: 0 10px;
}

.canvas-container {
  position: relative;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  @include viewpoint-related-size(1600px);
}

.canvas {
  border: 2px solid var(--col-grey-300);
  @include viewpoint-related-scale(1600px);
}

.tool-box {
  height: 100%;
  width: 80px;
  min-width: 80px;
}
