.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.canvas-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
}

.canvas {
  z-index: 1;
  @include viewpoint-related-scale(1200px);
}
