.global-wrapper {
  height: 100%;
}

.content-wrapper {
  min-height: 100vh;
  height: 100%;
  background-color: var(--col-background);
}

.main-container {
  @include content-width();
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 125px;
  padding-bottom: 20px;
}
