.input-group {
  margin-bottom: 15px;
  max-width: 100%;
  width: 100%;
}

.label {
  display: block;
  font-weight: 500;
  font-size: var(--font-size-100);
  color: var(--col-text-navy);
  margin-bottom: 3px;
}

.input {
  width: 100%;
}
