.wrapper {
  max-width: 800px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: ". pic ." "info info info";
}

.avatar {
  grid-area: pic;
}

.user-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  align-items: center;
}
