.container {
  visibility: hidden;

  &--open {
    visibility: visible;
  }
}

.content {
  z-index: 10001;
}

.blanket {
  z-index: 1000;
  position: fixed;
  inset: 0;
  background-color: var(--col-black);
  opacity: 0.14;
}
